html {
    height: 150%;
}
.inner-wrap, .off-canvas-wrap {
    height: 100%;
}

.full {
    width: 100%;
}
.main-section {
    padding-top: 5%;
}
.myPanel {
    
    margin:8;
    background: #515253;
    @include panel();
    
}
.button
{
	background:#1e2958;
}
.left-off-canvas-menu{
	background:#515253;
}

.cards {
    list-style: none;
    height: 25%;
}

.card {
    height: 100%;
    border-radius: .5em;
    box-shadow: 0 1px 2px #aaa;
    padding: 0;
    text-align: center;
}
.card-header {
    color: white;
    font-size: 2em;
    line-height: 3;
}
.pick {
    height: 20%;
    width: 100%;
    background: rgba(52, 152, 219,1.0);
    border-radius: .5em .5em 0 0;
    box-shadow: 0 1px 2px #aaa;
}
.pick-slide {
}
.fill-out {
