<a ng-click="setTab(1)">Page Title</a>
	<div class="menuDropDown" ng-show="isSet(1)">
		<div class="row">
			<div class="small-12 columns">
				<p>
					The page title does four things. The page text that is 
					displayed in a browser's tab on the browser toolbar. The 
					page title is also displayed as the browser's title in the 
					browsers title bar when the webpage is active. The page 
					title also provides a default title for a webpage when the 
					webpage is added to favorites. Finaly the page title is the 
					tile displayed in search engine results. </p>
				<form ng-controller="TitleCtrl" ng-submit="changeTitle()">
					<legend>Page Title</legend>
						<fieldset>
							<label for="pageTitle">Title:</label>
							<input type="text" id="pageTitle" name="pageTitle"
										 placeholder="Page Title" ng-model="title" />
							<div class="submit row">
								<input class="small-12 small-centered columns" type="submit" value="Submit" />
							</div>
						</fieldset>
				</form>
			</div> <!-- /column -->
		</div> <!-- /row -->
	</div> <!-- end menuDropDown -->