<div class="row cards">
    <div class="large-3 large-offset-1 columns card">
	<div class="pick card-header" style="padding-top: 22px;">Pick a Template</div>
	<slick class="pick-slide" autoplay=true fade=true autoplay-speed=2000 css-ease=linear slide=div>
	    <div><img src="/img/banded.png"></img>Banded Theme</div>
	    <div><img src="/img/contact.png"></img>Contact Theme</div>
	    <div><img src="/img/so-boxy.png"></img>So-Boxy Theme</div>
	</slick>
    </div>
    <div class="large-3 large-offset-1 columns card">
	<div class="pick card-header" style="padding-top: 10px">Fill out Business Information</div>
	<div class="fill-out">
	</div>
    </div>
    <div class="large-3 columns card">
	<div class="pick card-header" style="padding-top: 22px;">Register Domain</div>
	<div class="register">
	</div>
    </div>
</div>

<!--
<div class="row" style="height: 50%; width: 50%;">
    <slick class="slider-for" as-nav-for="slider-nav" slides-to-show=1 slides-toscroll=1 arrows=false fade=true>
        <div><h3>1</h3></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
        <div><h3>1</h3></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
    </slick>
</div>
<div class="row">
    <slick class="slider-nav" as-nav-for="slider-for" style="height: 50%;" slides-to-show=3 center-mode=true slides-to-scroll=1 focus-on-select=true>
        <div><h3>1</h3></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
        <div><h3>1</h3></div>
        <div><h3>2</h3></div>
        <div><h3>3</h3></div>
    </slick>
</div>
-->
