<!DOCTYPE>
<html>
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width"/>
        <link href='http://fonts.googleapis.com/css?family=Raleway: 300,200,400' rel='stylesheet' type='text/css'>
        <link rel=stylesheet href="bower_components/foundation/css/normalize.css">
        <link rel=stylesheet href="bower_components/foundation/css/foundation.css">
        <link rel=stylesheet href="bower_components/foundation-icons/foundation-icons.css">
        <link rel=stylesheet href="bower_components/slick.js/slick/slick.css">
	<link rel=stylesheet href='//fonts.googleapis.com/css?family=Roboto:100,100italic,300italic,400,500'>
        <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300' rel='stylesheet' type='text/css'>
        <link rel=stylesheet href="css/main.css">
    </head>
    <body ng-app="app">
        <div class="off-canvas-wrap" data-offcanvas ng-controller="MainController">
            <div class="inner-wrap">
                <nav class="tab-bar">
                    <section class="left-small">
                        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
                    </section>
                    <section class="middle tab-bar-section">
                        <a href="/#"><h1 class="title">Marvelous</h1></a>
                    </section>
                </nav>
                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li><label>Available Templates</label></li>
                        <li><a href="#/so-boxy">So-Boxy</a></li>
                        <li><a href="#/banded">Banded</a></li>
                        
                        <li>
                            <form class="business-form">
                                <fieldset>
                                    <legend>Bussiness Information</legend>
                                        <label>Business Name
                                            <input type="text" ng-model="businessInfo.businessName" ng-change="changeBusinessInfo('businessName', businessInfo.businessName)" placeholder="Name">
                                        </label>
                                        <label>Business Email
                                            <input type="text" ng-model="businessInfo.businessEmail" ng-change="changeBusinessInfo('businessEmail', businessEmail)" placeholder="Email">
                                        </label>
                                        <label>Business Phone Number
                                            <input type="text" ng-model="businessInfo.phoneNumber" ng-change="changeBusinessInfo('phoneNumber', phoneNumber)" placeholder="Phone Number">
                                        </label>
                                        <label>Business Domain Name
                                            <input type="text" ng-model="businessInfo.domainName" ng-change="changeBusiness('domainName', domainName)" placeholder="Domain Name">
                                        </label>
                                        <a href="" data-reveal-id="myModal" ng-click="registerDomain(businessInfo)" class="button">Register Domain</a>
                                        <div id="myModal" class="reveal-modal" data-reveal>
                                            <h1 class="text-center" style="background-color: rgba(52, 152, 219, 1.0); color: white; padding-right: 2em;">Congratulations!</h1>
                                            <h3>Your {{buisnessInfo.buisnessName}}  website should be live at {{businessInfo.domainName}}.{{businessInfo.hostname}}</h3>
                                            <p class="lead">If your website is not live call us at <a href="tel:+19078543082">(512)555-1234</a> or E-Mail us at <a href="mailto:admin@sangm.io">admin@{{businessInfo.hostname}}</a>.</p>
                                            <p>Our developers are available 24/7 for your support.</p>
                                            <a class="close-reveal-modal">&#215;</a>
                                        </div>
                                 </fieldset>
                            </form>
                        </li>
                    </ul>
                </aside>

                <section class="main-section">
                    <div ng-view=""></div>
                </section>

                <a class="exit-off-canvas"></a>
          </div>
        </div>
                    
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/slick.js/slick/slick.js"></script>
        <script src="bower_components/angular-slick/dist/slick.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers.js"></script>
        <script src="app/services.js"></script>
        <script>$(document).foundation();</script>
        <script>
        </script>
    </body>
</html>
