/****************************** Menu Drop Down *******************************/

	.menuDropDown {
		background-color: #F38630;
	}

	/******************************** Paragraph ********************************/

		.menuDropDown p {
			text-align: justify;
		}

	/********************************** Form ***********************************/

		.menuDropDown form legend {
			font-weight: bold;
			background-color: #A7DBD8;
			margin-left: 15px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		.menuDropDown form fieldset {
			background-color: #A7DBD8;
			border-radius: 10px;
			padding: rem-calc(0 10);
			margin-top: 0;
			border-style: none;
		}

		.menuDropDown form fieldset label {
			font-weight: bold;
			background-color: #A7DBD8;
			border-top: none;
			color: #000;
			padding-left: 0;
		}

	/********************************** Input **********************************/

		.menuDropDown form fieldset input[type="text"] {
			border-radius: 1000px;
		}

		.menuDropDown form fieldset input[type="submit"] {
			background-color: #69D2E7;
			border-radius: 1000px;
		}

		.menuDropDown form fieldset .submit {
			padding-left: 10px;
			padding-right: 10px;
		}

		.menuDropDown form fieldset a {
			background-color: #69D2E7;
			border-radius: 1000px;
			padding: 0 5px;
		}

	/****************************** Template Form ******************************/

		.menuDropDown .templateForm div {
			padding-bottom: 10px;
		}

/****************************** Menu Drop Down *******************************/

.addlink {
	background-color: green;
	margin-left: 10px;
	border-radius: 1000px;
}

.apps-c
ontainer {
	border: 1px dashed blue;
	padding-bottom: 20px;
}

.clear {
	clear: both;
}

tg-dynamic-directive {
	display: block;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}