<div ng-controller="EditTemplateCtrl">

<!-- <div class="row">
	<div class="large-12 column" ng-controller="UploadCtrl">
			<form>
						<input type="file" ng-file-select="onFileSelect($files)" >
		<input type="file" ng-file-select="onFileSelect($files)" multiple>
			
			 </form>
			 <b>Preview:</b><br />
			 <i ng-hide="imageSrc">No image choosed</i>
			 <img ng-src="{{imageSrc}}" /><br/>
			<b>Progress:</b>
			<progress value="{{progress}}"></progress>

	</div>
</div> -->




	<!-- Logo and Navigation Bar -->
	<div class="row move-left">
		<!-- Logo -->
		<div class="large-3 columns">
			<h1><img src="http://placehold.it/400x100&text=Logo"></h1>
		</div>

		<!-- Navigation Bar -->
		<div ng-controller="EditLinksCtrl">
			<div class="large-8 columns">
				<ul class="button-group right" ui-sortable ng-model="links">
					<li ng-repeat="link in links"><a class="button">{{link}}</a></li>
				</ul>
			</div>

			<!-- Add link -->
			<div class="large-1 columns">
				<a class="button addlink" ng-click="addLink()">+</a>
			</div>
		</div>	<!-- End EditLinksCtrl -->
	</div>

	 



<!--====================== Double column content text ======================-->
	<div class="row">
		<div class="large-12 columns">
			<img src="http://placehold.it/1000x400&text=[img]">

			<hr>
		</div>
	</div>
	 

	<div class="row">
		<div class="large-4 columns">
			<img src="http://placehold.it/400x300&text=[img]">
		</div>
		<div class="large-8 columns" ng-controller="ContentSplitCtrl">
			<h4 class="left" ng-attr-contenteditable="{{editHeadingMode}}" 
					ng-model="contentSplit.heading" 
					style="display: inline-block; {{editHeadingBorder}}" />
			<button class="tiny floatleft radius round" 
							ng-click="toggleHeadingEditMode()" 
							style="margin: 0 0 0 2em; padding: 1em;
										 background-color: lime;">
				<img src="img/fi-arrow-left.svg" style="height: 20px;">
				<img src="img/fi-pencil.svg" style="height: 20px;">
			</button>

			<div class="row">
				<div class="large-6 columns">
					<p class="left" ng-attr-contenteditable="{{editLeftMode}}"
						 ng-model="contentSplit.left"
						 style="display: inline-block; {{editLeftBorder}}" />
					<button class="tiny floatleft radius round"
								ng-click="toggleLeftEditMode()"
								style="margin: 0 0 0 2em; padding: 1em; 
											 background-color:lime;">
						<img src="img/fi-arrow-up.svg" style="height: 20px;">
						<img src="img/fi-pencil.svg" style="height: 20px;">
					</button>
				</div>

				<div class="large-6 columns">
					<p class="left" ng-attr-contenteditable="{{editRightMode}}"
						 ng-model="contentSplit.right"
						 style="display: inline-block; {{editRightBorder}}" />
					<button class="tiny floatleft radius round"
								ng-click="toggleRightEditMode()"
								style="margin: 0 0 0 2em; padding: 1em; 
											 background-color:lime;">
						<img src="img/fi-arrow-up.svg" style="height: 20px;">
						<img src="img/fi-pencil.svg" style="height: 20px;">				</div>
			</div>	<!-- End Split Contents columns into row -->

		</div>	<!-- End Spit Contents Column -->

	</div>	<!-- End Split contents and image row -->

<!--==================== End double column content text ====================-->




<!--====================== Single column content text ======================-->
	<div class="row" style="margin-top: 50px;">
		<div class="large-8 columns" ng-controller="ContentSingleCtrl">
			<h4 ng-attr-contenteditable="{{editHeadingMode}}"
					ng-model="contentSingle.heading"
					style="{{editHeadingBorder}}" />
			<button class="tiny radius round"
							ng-click="toggleHeadingEditMode()"
							style="padding: 1em; background-color: lime;">
				<img src="img/fi-arrow-up.svg" style="height: 20px;">
				<img src="img/fi-pencil.svg" style="height: 20px;">
			</button>

			<button class="tiny radius round"
						ng-click="toggleContentEditMode()"
						style="margin: 0 0 0 2em; padding: 1em 1em; 
									 background-color:lime;">
				<img src="img/fi-arrow-down.svg" style="height: 20px;">
				<img src="img/fi-pencil.svg" style="height: 20px;">
			</button>

			<p class="left" ng-attr-contenteditable="{{editContentMode}}"
				 ng-model="contentSingle.content"
				 style="display: inline-block; {{editContentBorder}}" />

		</div>
		<div class="large-4 columns">
			<img src="http://placehold.it/400x300&text=[img]">
		</div>
	</div>




	<footer class="row">
		<div class="large-12 columns">
			<hr/>
			<div class="row">
				<div class="large-6 columns">
					<p>© Copyright no one at all. Go to town.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="#">Link 1</a></li>
						<li><a href="#">Link 2</a></li>
						<li><a href="#">Link 3</a></li>
						<li><a href="#">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>

</div> <!-- /EditTemplateCtrl -->