<!DOCTYPE html>
<html lang="en-US" ng-app="myApp" ng-controller="PageCtrl">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="stylesheets/app.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="js/myApp.js"></script>
	<script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
	<title>{{pageTitle}}</title>
</head>
<body>
	<div class="off-canvas-wrap" data-offcanvas>
		<div class="inner-wrap">

			<nav class="tab-bar"> <!-- creates header bar -->
				<section class="left-small">
					<a class="left-off-canvas-toggle menu-icon"><span></span></a>
				</section>
			</nav>

			<aside class="left-off-canvas-menu" ng-controller="TabCtrl as tab">
				<ul class="off-canvas-list">
					<li>







						<a ng-click="setTab(1)">Page Title</a>
							<div class="menuDropDown" ng-show="isSet(1)">
								<p class="infoBox">
									The page title does four things. The page text that is 
									displayed in a browser's tab on the browser toolbar. The 
									page title is also displayed as the browser's title in the 
									browsers title bar when the webpage is active. The page 
									title also provides a default title for a webpage when the 
									webpage is added to favorites. Finaly the page title is the 
									tile displayed in search engine results. </p>
								<form ng-controller="TitleCtrl" ng-submit="changeTitle()">
									<legend>Page Title</legend>
										<fieldset>
											<label for="pageTitle">Title:</label>
											<input class="radius" type="text" id="pageTitle" name="pageTitle" 
														 placeholder="Page Title" ng-model="title" />
											<input class="button round formSubmit" type="submit" 
													 value="Submit" />
										</fieldset>
							</form>
						</div> <!-- end menuDropDown -->
					</li> <!-- end Title tab -->




					<li>
						<a ng-click="setTab(2)">Header</a>
						<div class="menuDropDown" ng-show="isSet(2)">
							<input type="button" name="Create new row" />
						</div>
					</li>






					<li>
						<a ng-click="setTab(3)">Section 3</a></li>
				</ul>	<!-- end off-canvas-list -->
			</aside>	<!-- end left-off-canvas-menu -->
			<a class="exit-off-canvas"></a>	<!-- close off-canvas-menu -->

			<p></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></p>

		</div> <!-- end inner-wrap must go after all content -->
	</div> <!-- end off-canvas -->
	<script src="bower_components/foundation/js/vendor/jquery.js"></script>
	<script src="bower_components/foundation/js/foundation.js"></script>
	<script>
	  $(document).foundation();
	</script>
</body>
</html>
