@charset "utf-8";
/* CSS Document */

// Color Scheme
$aoi							 : #69D2E7;
$clean-pondwater	 : #A7DBD8;
$beach-storm			 : #E0E4CC;
$giant-goldfish		 : #F38630;
$unreal-food-pills : #FA6900;

.menuDropDown {
	background-color: $giant-goldfish;
	margin-bottom: rem-calc(10);
}

.menuDropDown p {
	text-align: justify;
	margin: rem-calc(0 30);
}

form {
	margin: rem-calc(0 60);
	border-width: rem-calc(2);
	border-style: ridge;
	border-color: $black;
	background-color: $aoi;
}

.centerAlign {
	text-align: center;
}

legend {
	font-weight: bold;
	padding: rem-calc(5 0);
	text-align: center;

}

fieldset {
	background-color: $clean-pondwater;
	border-top: rem-calc(1) solid $black;
}

.formSubmit {
	margin: rem-calc(0 67 10 67);
}